addict
albumentations
causal-conv1d
einops
matplotlib
mamba
mamba-ssm
mmcv
mmdet
mmengine
mmrotate
numpy
opencv-python
pandas
pycocotools
Pillow
requests
rich
scikit-image
scikit-learn
scipy
shapely
timm
torch
torchvision
tqdm
transformers
yapf